In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Quotes.csv')

In [3]:
df.head()

,quote,author,author_id,tags
0,The world as we have created it is a process o...,Albert Einstein,/author/Albert-Einstein,"changechange,deep-thoughtsdeep-thoughts,thinki..."
1,"It is our choices, Harry, that show what we tr...",J.K. Rowling,/author/J-K-Rowling,"abilitiesabilities,choiceschoices"
2,There are only two ways to live your life. One...,Albert Einstein,/author/Albert-Einstein,"inspirationalinspirational,lifelife,livelive,m..."
3,"The person, be it gentleman or lady, who has n...",Jane Austen,/author/Jane-Austen,"aliteracyaliteracy,booksbooks,classicclassic,h..."
4,"Imperfection is beauty, madness is genius and ...",Marilyn Monroe,/author/Marilyn-Monroe,"be-yourselfbe-yourself,inspirationalinspirational"

In [4]:
#deleting all the colums except author
del df['quote']
del df['author_id']
del df['tags']

In [6]:
for author in df.values:
    print(author[0], author[1])
    break

IndexError: index 1 is out of bounds for axis 0 with size 1