In [24]:
import requests
import pandas as pd
from tqdm import tqdm
from bs4 import BeautifulSoup

In [25]:
df = pd.read_csv("Quotes.csv")

In [26]:
df.head()

,quote,author,author_id,tags,author_link
0,The world as we have created it is a process o...,Albert Einstein,/author/Albert-Einstein,"change,deep-thoughts,thinking,world",https://quotes.toscrape.com/author/Albert-Eins...
1,"It is our choices, Harry, that show what we tr...",J.K. Rowling,/author/J-K-Rowling,"abilities,choices",https://quotes.toscrape.com/author/J-K-Rowling
2,There are only two ways to live your life. One...,Albert Einstein,/author/Albert-Einstein,"inspirational,life,live,miracle,miracles",https://quotes.toscrape.com/author/Albert-Eins...
3,"The person, be it gentleman or lady, who has n...",Jane Austen,/author/Jane-Austen,"aliteracy,books,classic,humor",https://quotes.toscrape.com/author/Jane-Austen
4,"Imperfection is beauty, madness is genius and ...",Marilyn Monroe,/author/Marilyn-Monroe,"be-yourself,inspirational",https://quotes.toscrape.com/author/Marilyn-Monroe

In [27]:
del df['quote']
del df['author_id']
del df['tags']

In [28]:
df = df.drop_duplicates()

In [29]:
df

              author                                        author_link
0    Albert Einstein  https://quotes.toscrape.com/author/Albert-Eins...
1       J.K. Rowling     https://quotes.toscrape.com/author/J-K-Rowling
3        Jane Austen     https://quotes.toscrape.com/author/Jane-Austen
4     Marilyn Monroe  https://quotes.toscrape.com/author/Marilyn-Monroe
6         André Gide      https://quotes.toscrape.com/author/Andre-Gide
7   Thomas A. Edison  https://quotes.toscrape.com/author/Thomas-A-Ed...
8  Eleanor Roosevelt  https://quotes.toscrape.com/author/Eleanor-Roo...
9       Steve Martin    https://quotes.toscrape.com/author/Steve-Martin

In [37]:
for author in df.values:
    name = 'Authors/' + author[0] + '.txt'
    link = author[1]
    
    try:
        res = requests.get(link)
        res.raise_for_status()
        
        soup = BeautifulSoup(res.text, 'html.parser')
    
        text = soup.find('div', class_ = 'author-details').text
    
        #placing the details of author in a text file
        with open(name, 'w', encoding = 'utf-8') as fd:
             fd.write(text)
        
        print(f"Saved details for author {author[0]}")
        
    except requests.exceptions.RequestException as e:
        print(f"Error fetching details for author {author[0]}: {e}")
    except Exception as e:
        print(f"An error occurred for author {author[0]}: {e}")

Saved details for author Albert Einstein
Saved details for author J.K. Rowling
Saved details for author Jane Austen
Saved details for author Marilyn Monroe
Saved details for author André Gide
Saved details for author Thomas A. Edison
Saved details for author Eleanor Roosevelt
Saved details for author Steve Martin