In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\dell\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [5]:
import numpy as np
import pandas as pd

In [3]:
pd.__version__

'1.5.3'

In [6]:
#series through list
lst = [1,2,3,4,5]
pd.Series(lst)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
#series through numpy array
arr = np.array([1,2,3,4,5])
pd.Series(arr)

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [8]:
#by default the index is from 0 , we can give index from our own end also
pd.Series(data = [ 'A', 'E', 'I', 'O', 'U'], index = [1,2,3,4,5])

1    A
2    E
3    I
4    O
5    U
dtype: object

In [11]:
#series through dictionary
dict = {'A' : 1, 'AA' : 2, 'AAA' : 3}
print(dict)
pd.Series(dict)

{'A': 1, 'AA': 2, 'AAA': 3}

A      1
AA     2
AAA    3
dtype: int64

In [13]:
#Repeat function
#using repeat function along with series
pd.Series(5).repeat(5)

0    5
0    5
0    5
0    5
0    5
dtype: int64

In [14]:
#Reset function
#since in repeat function, same index is repeated so inorder to change the index we use reset funtion
pd.Series(5).repeat(5).reset_index()

   index  0
0      0  5
1      0  5
2      0  5
3      0  5
4      0  5

In [18]:
series = pd.Series([10,20]).repeat([10,5]).reset_index(drop = True)
series

0     10
1     10
2     10
3     10
4     10
5     10
6     10
7     10
8     10
9     10
10    20
11    20
12    20
13    20
14    20
dtype: int64

In [20]:
#accessing the series elements
series[12]

20

In [21]:
series[8]

10

In [22]:
#using slicing
series[2:11]

2     10
3     10
4     10
5     10
6     10
7     10
8     10
9     10
10    20
dtype: int64

In [23]:
#Aggregate function on pandas series
sr = pd.Series([1,2,3,4,5,6])
sr.agg([min,max,sum])

min     1
max     6
sum    21
dtype: int64

In [25]:
#Series Absolute function
sr = pd.Series([1,-2,3,-4,5,6])
sr.abs()

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [36]:
#Astype function
sr

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [37]:
type(sr)

pandas.core.series.Series

In [38]:
type(sr[0])

numpy.int64

In [39]:
sr.astype('float')

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
dtype: float64

In [41]:
#between function - checks which which values lies under given range
sr = pd.Series([1,2,30,50,60,4,3])
print(sr)
sr.between(10,60)

0     1
1     2
2    30
3    50
4    60
5     4
6     3
dtype: int64

0    False
1    False
2     True
3     True
4     True
5    False
6    False
dtype: bool

In [63]:
#String functions
series = pd.Series(["Aastha Pasta ", "Chaudhary"])
print(series)
#1- upper and lower function
print(series.str.upper())
print(series.str.lower())
#2- Len function
print(series.str.len())
#3- Strip function - removes extra spaces
series = series.str.strip()
print(series.str.len())
#4- Split function
series.str.split()[0]
#5- contains function
print(series.str.contains('i'))
print(series.str.contains('a'))
#6- Replace function
print(series.str.replace('A', 'P'))
#7- Count function
print(series.str.count('a'))
#8- EndsWith and StartsWith
print(series.str.endswith('a'))
print(series.str.startswith('C'))
#9-Find function
print(series.str.find('Pasta'))

0    Aastha Pasta
1        Chaudhary
dtype: object
0    AASTHA PASTA
1        CHAUDHARY
dtype: object
0    aastha pasta
1        chaudhary
dtype: object
0    13
1     9
dtype: int64
0    12
1     9
dtype: int64
0    False
1    False
dtype: bool
0    True
1    True
dtype: bool
0    Pastha Pasta
1       Chaudhary
dtype: object
0    4
1    2
dtype: int64
0     True
1    False
dtype: bool
0    False
1     True
dtype: bool
0   -1
1   -1
dtype: int64